
@media (max-width : 992px){
    .Container-Nav{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        display: flex;
    }
    .ul-nav{
        display: none;
    }
    .nav-mobo-open{
        display: flex;
    }
    
}

